.menu_flop{
	z-index: 2;
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	font-size: 2.0rem;
	text-align: center;
	padding: 5px;
	line-height: 2.1rem;
	border: solid 2px #242b33;
}
.menu{
	width: 0px;
	height: 100%;
	border-left: solid 2px rgba(0,0,0,0.6);
	border-right: solid 2px rgba(0,0,0,0.6);
	padding-top: 5rem;
	overflow: hidden;
}

.menu li{
	font-size: 1.4rem;
	padding: 1rem;
}

.menu li:hover, .menu_flop:hover{
	background: rgba(200,200,200,0.3);
}
